<h1><%= pluralize(@events.size, 'Event') %></h1>
<nav><%= link_to 'Add New Event', new_event_path %></nav>
<p>Check out the following <%= pluralize(@events.size, 'event') %>:</p>


<% @events.each do |event| %>
  <article>
    <header>
      <h2><%= link_to event.name, event %></h2>
    </header>
    <p><%= truncate(event.description, length: 35, separator: " ") %></p>
    <table>
      <tr>
        <th>When:</th>
        <td><%= event.starts_at %></td>
      </tr>
      <tr>
        <th>Where:</th>
        <td><%= event.location %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td><%= formated_price(event) %></td>
      </tr>
    </table>
  </article>
<% end %>

